.list-avatar-page {
    ion-note {
        align-self: flex-start;
        font-size: 12px;
        margin-top: 14px;
    }
}

.im-friend-list-area {
    .list {
        margin: -1px 0 0;
    }
    .item.item-md.list-header.list-header-md,
    .item.item-ios.list-header.list-header-ios {
        color: #E0F7FA;
        background-color: #00B8D4;
        min-height: 20px;
    }

    h2 {
        font-size: 24px;
    }

    .label {
        p {
            font-size: 18px;
        }
    }

    .list-head-img {
        
    }
}

