.im-tabs-style {
    .tabbar {
        background-color: #2b95ff;
        height: 7%;
        opacity: 1;

        .tab-button[aria-selected=true] .tab-button-icon {
            color: #FFFDE7;
        }

        .tab-button .tab-button-icon {
            color: #00BCD4;
        }

    }

    &.tabs-md .tab-button {
        min-height: 10%;
    }
}